.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--padding-sides);
  gap: 6vw;
}

.hero-headline {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.hero-img-container {
  background-image: url(../../../public/img/architect1.jpeg);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  width: 70vw;
  height: 90vh;
}
